/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ODHL_AR_OUTBREAK Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {
    //////////////////////////////////////////////////////////////
    // Universal
    //////////////////////////////////////////////////////////////
    input                       = null
    input_gff                   = null
    projectID                   = null

    //////////////////////////////////////////////////////////////
    // arANALYSIS
    //////////////////////////////////////////////////////////////
    runBASESPACE                = "FALSE"
    runBUSCO                    = "TRUE"
    save_output_fastqs          = "FALSE"
    save_reads_assignment       = "FALSE"

    save_trimmed_fail           = true
    save_merged                 = true
    coverage                    = 30
    minlength                   = 500

    // Database paths
    kraken2_db                  = "$HOME/refs/k2/k2_standard_08gb_202412.tar.gz"
    zipped_sketch               = "${baseDir}/assets/databases/REFSEQ_20240124_Bacteria_complete.msh.gz"
    custom_mlstdb               = "${baseDir}/assets/databases/mlst_db_20240124.tar.gz"
    bbdukdb                     = "${baseDir}/assets/databases/phiX.fasta"
    nodes                       = "${baseDir}/assets/databases/nodes_20240129.dmp.gz"
    names                       = "${baseDir}/assets/databases/names_20240129.dmp.gz"
    hvgamdb                     = "${baseDir}/assets/databases/HyperVirulence_20220414.fasta"
    ardb                        = "${baseDir}/assets/databases/ResGANNCBI_20240131_srst2.fasta"
    gamdbpf                     = "${baseDir}/assets/databases/PF-Replicons_20240124.fasta"
    amrfinder_db                = "${baseDir}/assets/databases/amrfinderdb_v3.12_20240131.1.tar.gz"
    ncbi_assembly_stats         = "${baseDir}/assets/databases/NCBI_Assembly_stats_20240124.txt"

    //////////////////////////////////////////////////////////////
    // arFORMAT / arREPORT
    //////////////////////////////////////////////////////////////
    labResults                  = "null"
    id_db                       = "${baseDir}/assets/databases/IDdbs/db_master.csv"
    coreFunctions               = "${baseDir}/bin/core_functions.sh"
    basic_RMD                   = "${baseDir}/bin/ar_report_basic.Rmd"
    config_arReport             = "${baseDir}/conf/config_ar_report.yaml"
    odhl_logo                   = "${baseDir}/assets/odh_logo_240128.png"

    //////////////////////////////////////////////////////////////
    // outbreakANALYSIS
    //////////////////////////////////////////////////////////////
    outbreak_species            = "null"
    max_samples                 = 35
    percent_id                  = 90
    outbreak_metadata           = "null"
    ref_samples                 = "${baseDir}/assets/ref_samples.csv"

    // Reference database directory (contains species-specific GFFs and FASTQs)
    reference_outdir            = "${baseDir}/assets/databases/outbreak/"

    // Outbreak report template
    outbreak_RMD                = "${baseDir}/bin/ar_report_outbreak.Rmd"

    // SNP pipeline config
    snp_config                  = "${baseDir}/conf/snppipipeline.conf"

    //////////////////////////////////////////////////////////////
    // Boilerplate
    //////////////////////////////////////////////////////////////
    outdir                      = null
    publish_dir_mode            = 'copy'
    email                       = null
    email_on_fail               = null
    plaintext_email             = false
    monochrome_logs             = false
    hook_url                    = null
    help                        = false
    help_full                   = false
    show_hidden                 = false
    version                     = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'

    config_profile_name         = null
    config_profile_description  = null
    custom_config_version       = 'master'
    custom_config_base          = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact      = null
    config_profile_url          = null

    validate_params             = true
}

cleanup = true

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    test      { includeConfig 'conf/test.config' }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Set default registry for Docker
docker.registry = 'quay.io'

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = """\
bash

set -e
set -u
set -o pipefail
set -C
"""

nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'ODHL/ODHL_AR_OUTBREAK'
    author          = 'S. Sevilla'
    homePage        = 'https://github.com/ODHL/ODHL_AR_OUTBREAK'
    description     = 'ODHL AR Outbreak Analysis Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
}

plugins {
    id 'nf-schema@2.1.1'
}

validation {
    defaultIgnoreParams = ["genomes"]
    help {
        enabled = true
        command = "nextflow run ${manifest.name} -profile <docker/singularity> --input samplesheet.csv --input_gff samplesheet_gff.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
