/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/odhlar Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '6.h'
    ]

    // Set Error Strategy
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel:process_single {
        cpus   = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2 * task.attempt }
        memory = { 3.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 4 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 6 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
    
    withName:AMRFINDERPLUS_RUN {
        cpus   = { 6 * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }

    withName:BBDUK {
        cpus   = { 4 * task.attempt }
        memory = { 14.GB * task.attempt } //needs min 14GB for bbduk
        time   = { 8.h  * task.attempt }
    }

    withName:BBMAP_REFORMAT {
        cpus   = { 2 * task.attempt }
        memory = { 11.GB * task.attempt } // minimum of 11GB required
        time   = { 8.h  * task.attempt }
    }

    withName:FASTP {
        cpus   = { 2 * task.attempt }
        memory = { 5.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }

    withName:FASTP_SINGLES {
        cpus   = { 2 * task.attempt }
        memory = { 3.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }

    withName:FASTQC {
        cpus   = { 2 * task.attempt }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }

    withName:'GAMMA|GAMMAS' {
        cpus   = { 3 * task.attempt }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }

    withName:KRAKEN2_KRAKEN2 {
        cpus   = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }

    withName:MULTIQC {
        cpus   = { 1 * task.attempt }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }

    withName:PROKKA {
        cpus   = { 6 * task.attempt }
        memory = { 40.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }

    withName:SPADES {
        cpus   = { 6 * task.attempt }
        memory = { 14.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
}