/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    publishDir = [enabled: false]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GENERATE_PIPELINE_STATS {
        publishDir = [
            path: { "${params.outdir}/generate_pipeline_stats" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ASSET_CHECK {
        publishDir = [enabled: false]
    }

    withName: BBDUK {
        ext.args = 'hdist=1 k=31'
    }

    withName: FASTP_TRIMD {
        publishDir = [enabled: false]
        ext.args = '--cut_right --cut_right_window_size 20 --cut_right_mean_quality 30 --length_required 50 --trim_poly_g --cut_front 20 --cut_tail 20'
    }

    withName: FASTP_SINGLES {
        publishDir = [enabled: false]
        ext.args = '--disable_adapter_trimming'
    }

    withName: FASTQC {
        publishDir = [enabled: false]
    }

    withName: KRAKEN2_TRIMD {
        publishDir = [enabled: false]
        ext.args = '--use-names'
    }

    withName: KRAKEN2_KRAKEN2 {
        publishDir = [enabled: false]
    }

    withName: KRAKEN_BEST_HIT {
        publishDir = [enabled: false]
    }

    withName: SPADES {
        publishDir = [enabled: false]
        errorStrategy = "ignore"
    }

    withName: RENAME_FASTA_HEADERS {
        publishDir = [enabled: false]
    }

    withName: BBMAP_REFORMAT {
        publishDir = [enabled: false]
    }

    withName: SCAFFOLD_COUNT_CHECK {
        publishDir = [enabled: false]
    }

    withName: GAMMA_HV {
        publishDir = [enabled: false]
    }

    withName: GAMMA_AR {
        publishDir = [enabled: false]
    }

    withName: GAMMA_PF {
        publishDir = [enabled: false]
    }

    withName: QUAST {
        publishDir = [enabled: false]
    }

    withName: KRAKEN2_ASMBLD {
        publishDir = [enabled: false]
        ext.args = '--use-names'
    }

    withName: SRST2_AR {
        publishDir = [enabled: false]
        ext.args = '--forward _1.trim --reverse _2.trim --save_scores --report_all_consensus > srst2.log'
        ext.errorStrategy = { "ignore" }
    }

    withName: GET_MLST_SRST2 {
        publishDir = [enabled: false]
        ext.args = ''
        ext.errorStrategy = { "ignore" }
    }

    withName: SRST2_MLST {
        publishDir = [enabled: false]
        ext.args = '--forward _1.trim --reverse _2.trim --save_scores --report_all_consensus > srst2.log'
        ext.errorStrategy = { "ignore" }
    }

    withName: CHECK_MLST {
        publishDir = [enabled: false]
        ext.args = ''
        ext.errorStrategy = { "ignore" }
    }

    withName: REPORT_BASIC_PREP {
        publishDir = [
            path: { "${params.outdir}/report_basic" },
        ]
    }

    withName: REPORT_OUTBREAK_PREP {
        publishDir = [
            path: { "${params.outdir}/report_outbreak" },
        ]
    }

    withName: REPORT_OUTBREAK {
        publishDir = [
            path: { "${params.outdir}/report_outbreak" },
        ]
    }
}
